/* You can add global styles to this file, and also import other style files */
@import url(../styles.scss);

.bg-light {
    background-color: #f8f9fa!important;
}

.text-center {
    text-align: center!important;
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.btn-brown {
    background-color: #603813 !important;
    color : white !important;
}

.font-brown {
  color :  #603813 !important;
}

.content {
    max-width: 500px !important;
    margin: auto;
  }