<div class="content text-center">

    <div class="card">
        <div class="card-body command-card">
           <div >
               <img src="../../assets/coffee-house.png" height="50" width="91"  />
           </div>
           <div class="command-details">
               <p > <strong>Drink :</strong> Coffee </p>
               <p> <strong>Sugar quantity :</strong> Sugar </p>
               <p> <strong>Own mug :</strong> yes  </p>
           </div>
           <div class="recreate">
            <button class="btn btn-default btn-brown pull-right">Recreate</button>
           </div>
        </div>
      </div>
      <hr />
      <div>
          <a class="font-brown"> Skip and pass new command </a>
      </div>
</div>
